<html>
    <!-- <head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/
        font-awesome/5.15.2/css/all.min.css"/>
    </head> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <head><script src="https://kit.fontawesome.com/3e6fa93dee.js" crossorigin="anonymous"></script></head> -->
    <body style="background-image: url('assets/mini.jpg'); background-size: cover;">
        <div class="container-width">
           <article class="container">
            <h1>Contact Us</h1> <hr>
            <p>You can follow us on </p>
            <div class="flex-container">
                <div><button class="btn" onclick="window.location.href='https://www.facebook.com/';"><img src="assets/icons8-facebook-48.png"></button></div>
                <div><button class="btn" onclick="window.location.href='https://www.instagram.com';"><img src="assets/icons8-instagram-48.png" alt=""></button></div>
                <div><button class="btn" onclick="window.location.href='https://www.twitter.com';"><img src="assets/icons8-twitter-circled-48.png" alt=""></button></div>
                <!-- <button class="btn"><i class="fa-brands fa-facebook-messenger">dwf</i></button> -->
                <!-- <i class="fa-brands fa-facebook image-fb"></i> -->
                <!-- <button class="btn"><i class="fa fa-facebook"></i></button> -->

            </div>
            
           </article> 
           <!-- <div *ngFor="let val of pData">
            <p>Id: {{val.id}}</p><br>
            <p>Title {{val.title}}</p><br>
            <p>Author {{val.author}}</p><br>
        </div> -->
        </div>
    </body>
    
    
    <!-- json-server --watch db.json -->
    
    
    

</html>