<body>
    <div class="wrapper" style="background-image: url('assets/mini.jpg'); background-size: cover;">
        <div class="container">
            <article class="about-us">
                <h1>About Us</h1><hr>
                <p>This is a daily journal website. Feel free to express your feelings. 
                    <br> We both can keep your secrets safe 😉</p>

            </article>
        </div>
        <footer>
            <p> 🖤 Made with Love</p>
        </footer>
    </div>
</body>
