<body>
    <div class="wrapper" style="background-image: url('assets/mini.jpg'); background-size: cover;">
        <h1>Dear Diary Premium</h1><hr>
        <p>Get a better version of Dear Diary with the premium. <br> Unlock extra features.</p>
        <div class="flex-container">
            <div class="monthly">
                <h2>Monthly</h2>
                <h3>₹199.00 / month</h3>
                <button class="btn-main entry-submit-btn" type="submit" onclick="window.location.href='assets/paytm-img.png';">Buy Now</button>
            </div>
            <div class="annually">
                <h2>Annually</h2>
                <h3>₹1,999.00 / year</h3>
                <button class="btn-main entry-submit-btn" type="submit" onclick="window.location.href='assets/paytm-img.png';">Buy Now</button>
            </div>
            <div class="lifetime">
                <h2>Lifetime</h2>
                <h5>One Time(Limited Offer)</h5>
                <h3>₹3,999.00</h3>
                <button class="btn-main entry-submit-btn" type="submit" onclick="window.location.href='assets/paytm-img.png';">Buy Now</button>
            </div>
        </div>
    </div>
</body>