/* @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Varela+Round&display=swap'); */

/* .container{
    text-align: center;
    padding:12px;
    text-size-adjust: 30;
    
}
h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
    font-size: 60px;
    color: white;
    padding-bottom: 40px;

}
input{
    padding:8px;
    margin-bottom: 10px;
     border-radius: 70%; 
     text-align: center;
     margin-bottom: 10px; 
    
}
#login-button{
    margin-top: 10px;
    padding-left: 77px;
    padding-right: 77px;
     border-radius: 100%; 
    border-color: aliceblue;
    color:white(108, 110, 111);
}
.wrapper{
	background: #da6fc8;
background: -webkit-linear-gradient(top left, #da6fc8 0%, #53e3a6 100%);
background: -moz-linear-gradient(top left, #da6fc8 0%, #53e3a6 100%);
background: -o-linear-gradient(top left, #da6fc8 0%, #53e3a6 100%);
background: linear-gradient(to bottom right, #da6fc8 0%, #53e3a6 100%);
	
	
    align-items: center;
    padding-top: 5%;
	width: 100%;
	height:100vh;
	
	overflow: hidden;
	
	
} */
