<html>
    <head>
        <title>Welcome</title>
        <link rel="stylesheet">
         <style>
            /* .body{
                background-image: url('resources/book_front.jpg');
                background-size: cover;
            } */
        </style>
    </head>
    <body style="background-image: url('assets/mini.jpg'); background-size: cover;">
        <div class="container-width">
            <nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">
                <!-- Container wrapper -->
                <div class="container-fluid">
                  <!-- Navbar brand -->
                  <a class="navbar-brand navprim" routerLink="/addnote">Write ✏️</a>
              
                  <!-- Toggle button -->
                  <!-- <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  >
                    <i class="fas fa-bars"></i>
                  </button>
               -->
                  <!-- Collapsible wrapper -->
                  <div class="collapse navbar-collapse navclass" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                       <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/pricing">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/contact-us">Contact us</a>
                        </li>
                    </ul>
                    </div>
                </div>
            </nav>

            <hr>

        <div class="contents">
            <p>
                Thanks for visiting this website. <br>
                Have a nice day :)
                
            </p>
        </div>
    </div>
    </body>
</html>

